
{% extends 'base.html.twig' %}

{% block title %}Campus{% endblock %}

{% block body %}
    <h1>Campus</h1>

    <table class="table">
        <tbody>

        <tr>
            <th>Nom</th>
            <td>{{ campus.nom }}</td>
        </tr>


        </tbody>
    </table>
    <br>

    <a href="{{ path('campus_liste',{'page':1}) }}">Retour à la liste</a>

    -

    <a href="{{ path('campus_modifier', {'id': campus.id}) }}"  class="button" >Modifier</a>

    <br><br>

    {{ include('campus/suppression_form.html.twig') }}
{% endblock %}