{%  extends 'base.html.twig'%}
{% block title %}
{{ parent() }} |
Welcome to my Home page
{% endblock %}

{% block body %}
    <h1> Bienvenue sur le site de Sortir.com avec l'ENI!</h1>
{% endblock %}

