{% extends 'base.html.twig' %}

{% block title %}Modification de la ville{% endblock %}

{% block body %}
    <h1>Modification ville</h1>

    {{ include('ville/_form.html.twig', {'button_label': 'Valider'}) }}  {# + bouton pour valider la modification #}

    <a href="{{ path('ville_liste') }}">Retour à la liste</a>

    {{ include('ville/suppression_form.html.twig') }}
{% endblock %}